@model GoodsAccountingSystem.ViewModels.CreateUserViewModel
@using GoodsAccountingSystem.Helpers

@{
    ViewBag.Title = "Добавление пользователя";
}

<div class="modal fade" id="@Constants.MODAL_ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create" asp-controller="Users" method="post">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SecondName" class="control-label"></label>
                        <input asp-for="SecondName" class="form-control" />
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserRole">Новая роль</label>
                        <select asp-for="UserRole" class="form-control">
                            <option value="@Role.USER" selected>Пользователь</option>
                            <option value="@Role.ADMIN">Администратор</option>
                        </select>
                        <span asp-validation-for="UserRole" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light border-dark" data-dismiss="modal">Отмена</button>
                    <input type="submit" value="Создать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>