@model IEnumerable<GoodsAccountingSystem.ViewModels.GoodViewModel>
@using GoodsAccountingSystem.Helpers
@{
    ViewBag.Title = "GoodsList";
}

<h2>Список товаров</h2>
<hr />

<div class="d-flex flex-wrap justify-content-between">
    <div class="">@DateTime.Now.ToLongTimeString()</div>
    @*  *@
</div>

@(Html
        .Grid("_CustomGrid", Model)
        .Build(columns =>
        {
            columns.Add(model => model.CreationDate).Titled("Name").Formatted("{0:d}");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Price).Titled("Name").Formatted("{0:C2}");
            columns.Add(model => model.Description).Titled("Name");
            columns.Add(model => model.InStock).Titled("Name");
            columns.Add(model => model.Attachment).Titled("Name").Sortable(false);
        })
        .Empty("No data found")
        .Pageable(pager =>
        {
            pager.PagesToDisplay = 3;
            pager.RowsPerPage = 5;
        })
        .Sortable()
        .Pageable()
)

<partial name="_FormScripts" />
@section Scripts {
    <partial name="_HandleErrorModal" />
}