
@{
    ViewBag.Title = "Index";
}

<div class="list-group text-center m-5">
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Users" asp-action="Index">Управление пользователями</a>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Settings" asp-action="Index">Настройки системы</a>
</div>